<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="description" content="<%= description %>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="./assets/images/fav.png" />
<!--facebook用-->
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="" />
<meta property="og:image" content="" /><!--絶対パスで記述-->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="<%= title %>" />
<meta property="og:locale" content="ja_JP" />
<!--twitter用-->
<meta name="twitter:card" content="summary_large_image" /><!-- summary summary_large_image photo gallery appから選ぶ -->
<!-- <meta name="twitter:site" content="" /> --><!--twitterがあれば記述-->
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:url" content="" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:image" content="" /><!--絶対パスで記述-->

<title><%= title %></title>
</head>
<body>
<div class="l-wrap">
